<h1>Posts</h1>
<div class="row">
  <div class="col-md-6">
    <select class="form-control" name="users" #u (change)="filterPosts({ userId: u.value })">
      <option value="">Select a user...</option>
      <option *ngFor="#user of users" value="{{user.id}}">{{user.name}}</option>
    </select>
    <pagination [items]="posts" (page-changed)="onPageChanged($event)"></pagination>
    <spinner [visible]="postsLoading"></spinner>
    <ul class="posts list-group">
      <li *ngFor="#post of pagedPosts" class="list-group-item" [class.active]="activePost === post" (click)="handlePostClick(post)">{{post.title}}</li>
    </ul>
  </div>
  <div class="col-md-6">
    <!-- <spinner [visible]="isLoading"></spinner> -->
    <div class="panel panel-default" *ngIf="activePost">
      <div class="panel-heading">{{activePost.title}}</div>
      <div class="panel-body">{{activePost.body}}</div>
      <spinner [visible]="commentsLoading"></spinner>
      <div class="media" *ngFor="#comment of comments">
        <div class="media-left">
          <a href="">
            <img src="http://lorempixel.com/80/80/people?random={{comment.id}}" alt="" class="media-object">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{comment.name}}</h4>
          {{comment.body}}
        </div>
      </div>
    </div>
  </div>
</div>
